<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @user.username %></strong>
</h1>

<p>
	<% if @user.ratings.empty? %>
		Hasn't rated yet!
	<% else %>
		Made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
	<% end %>
</p>


<h2><strong>ratings</strong></h2>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_user_path(@user) %> 
<td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
|
<%= link_to 'Back', users_path %>
